.aj-comment-smile-bg {
  background: url(/images/smile/static.gif);
  width: 34px;
  height: 34px;
  vertical-align: bottom;
  display: inline-block;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile2 {
  background-position: -34px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile3 {
  background-position: -68px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile4 {
  background-position: -102px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile5 {
  background-position: -136px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile6 {
  background-position: -170px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile7 {
  background-position: -204px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile8 {
  background-position: -238px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile9 {
  background-position: -272px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile10 {
  background-position: -306px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile11 {
  background-position: -340px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile12 {
  background-position: -374px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile13 {
  background-position: -408px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile14 {
  background-position: -442px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile15 {
  background-position: -476px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile16 {
  background-position: -510px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile17 {
  background-position: -544px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile18 {
  background-position: -578px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile19 {
  background-position: -612px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile20 {
  background-position: -646px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile21 {
  background-position: -680px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile22 {
  background-position: -714px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile23 {
  background-position: -748px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile24 {
  background-position: -782px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile25 {
  background-position: -816px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile26 {
  background-position: -850px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile27 {
  background-position: -884px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile28 {
  background-position: -918px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile29 {
  background-position: -952px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile30 {
  background-position: -986px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile31 {
  background-position: -1020px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile32 {
  background-position: -1054px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile33 {
  background-position: -1088px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile34 {
  background-position: -1122px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile35 {
  background-position: -1156px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile36 {
  background-position: -1190px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile37 {
  background-position: -1224px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile38 {
  background-position: -1258px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile39 {
  background-position: -1292px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile40 {
  background-position: -1326px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile41 {
  background-position: -1360px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile42 {
  background-position: -1394px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile43 {
  background-position: -1428px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile44 {
  background-position: -1462px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile45 {
  background-position: -1496px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile46 {
  background-position: -1530px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile47 {
  background-position: -1564px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile48 {
  background-position: -1598px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile49 {
  background-position: -1632px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile50 {
  background-position: -1666px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile51 {
  background-position: -1700px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile52 {
  background-position: -1734px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile53 {
  background-position: -1768px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile54 {
  background-position: -1802px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile55 {
  background-position: -1836px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile56 {
  background-position: -1870px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile57 {
  background-position: -1904px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile58 {
  background-position: -1938px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile59 {
  background-position: -1972px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile60 {
  background-position: -2006px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile61 {
  background-position: -2040px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile62 {
  background-position: -2074px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile63 {
  background-position: -2108px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile64 {
  background-position: -2142px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile65 {
  background-position: -2176px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile66 {
  background-position: -2210px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile67 {
  background-position: -2244px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile68 {
  background-position: -2278px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile69 {
  background-position: -2312px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile70 {
  background-position: -2346px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile71 {
  background-position: -2380px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile72 {
  background-position: -2414px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile73 {
  background-position: -2448px 0;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile74 {
  background-position: 0 -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile75 {
  background-position: -34px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile76 {
  background-position: -68px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile77 {
  background-position: -102px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile78 {
  background-position: -136px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile79 {
  background-position: -170px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile80 {
  background-position: -204px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile81 {
  background-position: -238px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile82 {
  background-position: -272px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile83 {
  background-position: -306px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile84 {
  background-position: -340px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile85 {
  background-position: -374px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile86 {
  background-position: -408px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile87 {
  background-position: -442px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile88 {
  background-position: -476px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile89 {
  background-position: -510px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile90 {
  background-position: -544px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile91 {
  background-position: -578px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile92 {
  background-position: -612px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile93 {
  background-position: -646px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile94 {
  background-position: -680px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile95 {
  background-position: -714px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile96 {
  background-position: -748px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile97 {
  background-position: -782px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile98 {
  background-position: -816px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile99 {
  background-position: -850px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile100 {
  background-position: -884px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile101 {
  background-position: -918px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile102 {
  background-position: -952px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile103 {
  background-position: -986px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile104 {
  background-position: -1020px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile105 {
  background-position: -1054px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile106 {
  background-position: -1088px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile107 {
  background-position: -1122px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile108 {
  background-position: -1156px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile109 {
  background-position: -1190px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile110 {
  background-position: -1224px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile111 {
  background-position: -1258px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile112 {
  background-position: -1292px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile113 {
  background-position: -1326px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile114 {
  background-position: -1360px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile115 {
  background-position: -1394px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile116 {
  background-position: -1428px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile117 {
  background-position: -1462px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile118 {
  background-position: -1496px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile119 {
  background-position: -1530px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile120 {
  background-position: -1564px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile121 {
  background-position: -1598px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile122 {
  background-position: -1632px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile123 {
  background-position: -1666px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile124 {
  background-position: -1700px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile125 {
  background-position: -1734px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile126 {
  background-position: -1768px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile127 {
  background-position: -1802px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile128 {
  background-position: -1836px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile129 {
  background-position: -1870px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile130 {
  background-position: -1904px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile131 {
  background-position: -1938px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile132 {
  background-position: -1972px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile133 {
  background-position: -2006px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile134 {
  background-position: -2040px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile135 {
  background-position: -2074px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile136 {
  background-position: -2108px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile137 {
  background-position: -2142px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile138 {
  background-position: -2176px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile139 {
  background-position: -2210px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile140 {
  background-position: -2244px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile141 {
  background-position: -2278px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile142 {
  background-position: -2312px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile143 {
  background-position: -2346px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile144 {
  background-position: -2380px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile145 {
  background-position: -2414px -36px;
}
.aj-comment-area-className .smileLayerBg ul.smileBox li a.smile146 {
  background-position: -2448px -36px;
}
.aj-comment-area-className .comment_operate {
  position: relative;
}
.aj-comment-area-className .aj-biaoqin-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
}
.aj-comment-area-className .aj-biaoqin-wrap .aj-biaoqin {
  display: inline-block;
  font-size: 20px;
  color: #666;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.aj-comment-area-className .aj-biaoqin-wrap .aj-biaoqin:hover {
  color: #f04848;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg {
  width: auto;
  height: auto;
  padding: 10px;
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  clear: both;
  width: 386px;
  height: 176px;
  padding: 12px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg ul.smileBox {
  width: 386px;
  height: 140px;
  clear: both;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg ul.smileBox li {
  width: 36px;
  height: 36px;
  float: left;
  margin: -1px 0 0 -1px;
  padding: 0;
  border-bottom: 0;
  overflow: hidden;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg ul.smileBox li a {
  background-image: url(/images/smile/static.gif);
  width: 34px;
  height: 34px;
  display: block;
  border: 1px solid #dcdcdc;
  background-color: #fff;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg ul.smileBox li a:hover {
  border: 1px solid #f04848;
  background-color: #f9f9f9;
  position: relative;
  z-index: 2;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg .smilePage {
  margin-top: 10px;
  padding: 0px;
  background-color: #f5f5f5;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg .smilePage a {
  padding: 0;
  min-width: 25px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  line-height: 24px;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
}
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg .smilePage a.current,
.aj-comment-area-className .aj-biaoqin-wrap .smileLayerBg .smilePage a:hover {
  background-color: #f04848;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
