
.aj-website-fenlei{
	width:1050px;position:relative;
	margin-top:50px;
	border:1px solid #d9d9d9;
}
.aj-website-fenlei .aj-wrap-head{
	position:absolute;
	top:-35px;left:0px;
	width:100%;height:35px;
}
.aj-website-fenlei .aj-wrap-title{
	padding-left:40px;
	line-height:35px;
}
.aj-website-fenlei .aj-wrap-title p{
	font-size:18px;font-weight:bold;
	line-height:35px;
	width:110px;overflow:hidden;
	color:#666;
}
.aj-website-fenlei .aj-wrap-title .aj-icon-title{
	position:absolute;
	top:2px;left:0;
	font-size:30px;
	color:#0098ff;
}
.aj-website-fenlei .aj-wrap-title[rank="1"] .aj-icon-title, .aj-website-fenlei .aj-wrap-title[rank="1"] p{
	color:#0098ff;
}
.aj-website-fenlei .aj-wrap-title[rank="2"] .aj-icon-title, .aj-website-fenlei .aj-wrap-title[rank="2"] p{
	color:#ff6c94;
}
.aj-website-fenlei .aj-wrap-title[rank="3"] .aj-icon-title, .aj-website-fenlei .aj-wrap-title[rank="3"] p{
	color:#00cbb1;
}
.aj-website-fenlei .aj-wrap-title[rank="4"] .aj-icon-title, .aj-website-fenlei .aj-wrap-title[rank="4"] p{
	color:#ff6f1a;
}
.aj-website-fenlei .aj-wrap-title[rank="5"] .aj-icon-title, .aj-website-fenlei .aj-wrap-title[rank="5"] p{
	color:#a286ff;
}
.aj-website-fenlei .aj-wrap-title .aj-icon-inside-txt{
	position:absolute;
	top:0;left:0;
	width:30px;height:35px;
	line-height:35px;text-align:center;
	color:white;
	font-size:14px;font-weight:bold;
}
.aj-websites-wrap{
	box-shadow:#eee 0 0 2px;
}
.aj-websites-wrap:after{
	display:block;
	content:'';
	clear:both;
}
.aj-websites-wrap .aj-website-one{
	float:left;
	width:105px;height:63px;
	border-bottom:1px solid #d9d9d9;
}
.aj-websites-wrap .aj-website-one:nth-child(10n) .aj-w-inside{
	border-right:none;
}
.aj-websites-wrap .aj-website-one .aj-w-inside{
	height:63px;
	border-right:1px solid #d9d9d9;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap{
	height:63px;
	position:relative;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-img{
	position:absolute;
	width:100%;height:55px;
	top:0;left:0;
	text-align:center;
	font-size:0;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-img:before{
	display:inline-block;
	content:'';
	vertical-align:middle;
	width:0;height:100%;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-img img{
	display:inline-block;
	max-height:55px;max-width:100%;
	vertical-align:middle;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow{
	position:relative;
	display:block;
	width:100%;height:62px;
	transition:all 0.3s;
	outline:1px solid transparent;
	cursor:pointer;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-default-url{
	position:absolute;
	display:block;
	top:0;left:0;
	width:100%;height:55px;
	opacity:0;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-two{
	position:absolute;
	display:block;
	bottom:0;
	width:50%;height:20px;
	text-align:center;
	display:none;
	color:white;
	line-height:20px;
	transition:all 0.3s;overflow:hidden;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-two:before{
	content:"[";
	position:relative;
	left:-10px;
	opacity:0;
	transition:all 0.3s;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-two:hover:before{
	left:0;
	opacity:1;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-two:hover:after{
	right:0;
	opacity:1;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-two:after{
	content:"]";
	position:relative;
	right:-10px;
	opacity:0;
	transition:all 0.3s;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-go{
	left:0;
	background-color:#ff9c03;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-link-quan{
	right:0;
	background-color:rgb(123, 183, 2);
}

.aj-websites-wrap .aj-website-one .aj-w-i-wrap:hover  .aj-desc-shadow{
	outline:1px solid #D70000;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap:hover .aj-desc{
	background-color:#D70000;
	color:white;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap:hover .aj-link-two{
	display:block;
}
.aj-websites-wrap .aj-website-one .aj-w-i-wrap .aj-desc-shadow .aj-desc{
	position:absolute;
	bottom:0;left:0;
	width:100%;height:20px;
	line-height:20px;
	color:#bbb;
	font-size:13px;
	text-align:center;
}

/* .aj-f-w{}
.aj-f-w .aj-logo{}
.aj-f-w .aj-rows-wrap{}
.aj-f-w .aj-rows-wrap .aj-row{}
.aj-f-w .aj-rows-wrap .aj-row .aj-title{}
.aj-f-w .aj-rows-wrap .aj-row .aj-right{}
.aj-f-w .aj-rows-wrap .aj-row .aj-right .aj-one{}
 */
 
.aj-line-ceil{
	position:fixed;
	top:50%;left:100px;
	margin-top:-150px;
}
.aj-line-ceil .aj-n-inside{}
.aj-line-ceil .aj-n-inside .aj-ul{}
.aj-line-ceil .aj-n-inside .aj-ul .aj-li{
	height:25px;line-height:25px;
	font-size:14px;
}
.aj-line-ceil .aj-n-inside .aj-ul .aj-li.aj-select i, .aj-line-ceil .aj-n-inside .aj-ul .aj-li.aj-select .aj-nav-a{
	color:rgb(223, 33, 105)!important;
}
.aj-line-ceil .aj-n-inside .aj-ul .aj-li i{
	color:#5188A6;
	font-size:18px!important;
}
.aj-line-ceil .aj-n-inside .aj-ul .aj-li .aj-nav-a{
	display:inline-block;
	width:60px;height:20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/*--------------------*/