<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script src="js/jquery.js"></script>
    <script src="../angular-1.4.7/angular.min.js"></script>
</head>
<body>


<div id="module1" ng-controller="deal">
    <div class="add">
        <form ng-submit="add()">
            <input type="text" ng-model="new.title">
            <br>
            <textarea ng-model="new.content"></textarea>
            <br>
            <p ng-bind="info.content" ng-class="{info : true}"></p>
            <button>Add</button>
        </form>
    </div>
    <ul>
        <li ng-repeat="list in lists">
            <span ng-bind="list.title"></span>
            <span ng-bind="list.content"></span>
            <button ng-click="deleteList($index)">Delete</button>
        </li>
    </ul>
</div>

<script src="js/d7.js"></script>
</body>
</html>