<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular-1.2.28/angular.js"></script>
    <script src="js/index.js"></script>
</head>
<body>


<div ng-controller="ajaxController">
    <p>{{ prop.name }}</p>
</div>

<div ng-controller="inputController">
    <input type="text" name="name" value="" ng-model="name"/>
    <p>Hello{{", " + name}}</p>
</div>

<div ng-controller="lolController">
    <div ng-repeat="user in users">
        <p>name:{{user.name}}</p>
        <p>age:{{user.age}}</p>
    </div>
</div>
<script>
    function lolController($scope) {
        $scope.users = [
            {
                name : 'Yoko',
                age : '19'
            },
            {
                name : 'Baoquan',
                age : '22'
            },
            {
                name : 'Dandan',
                age : '22'
            },
            {
                name : 'AJ',
                age
            }
        ];
    }
</script>

<script>
    function ajaxController($scope){
        $scope.prop = {};
        $scope.prop.name = 'AJAX';
    }
    function inputController($scope){
        //$scope.name = "";
    }
</script>

</body>
</html>