<!DOCTYPE html>
<html lang="en-US">
<script src="../angular-1.2.28/angular.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <p>Name : <input type="text" ng-model="firstName"></p>
    <p>Age : <input type="text" ng-model="lastName"></p>
    <p>
        Full name {{firstName + ' ' + lastName}}
    </p>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    });
</script>


</body>
</html>