.aj-cart{}
.aj-cart .aj-buy-one{
    background-color: #fcfcfc;
    padding: 20px;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
.aj-cart .aj-buy-one .aj-float-l{
    height: 80px;
    border-right: 1px dashed #ccc;
    float:left;
    padding: 0 10px;
}
.aj-cart .aj-buy-one.aj-cart-head{
    padding : 10px 20px;
    margin-bottom: 20px;
}
.aj-cart .aj-buy-one.aj-cart-head .aj-buy-one-wrap{
    height: 30px;
    line-height: 30px;
}
.aj-cart .aj-buy-one.aj-cart-head .aj-four-wrap, .aj-cart .aj-buy-one.aj-cart-head .aj-four-wrap .aj-quote-o{
    height: 30px;
}
.aj-cart .aj-buy-one.aj-cart-head .aj-pos-abs{
    border-right: none;
    text-align: center;
    height: 30px;
}
.aj-cart .aj-buy-one .aj-pos-abs{
    position: absolute;
    top:0;
    height: 80px;
    border-right: 1px dashed #ccc;
}
.aj-cart .aj-buy-one-wrap{
    position: relative;
    width:100%;height: 80px;
}
.aj-cart .aj-buy-one div.aj-img{
    left: 0;
    padding: 0;
    border-right: none;
}
.aj-cart .aj-buy-one .aj-name{
    left: 90px;
    width:180px;
    border-right:1px dashed #ccc;
}
.aj-cart .aj-buy-one .aj-name a{

    font-size: 12px;
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.aj-cart .aj-buy-one .aj-name a:hover{
    color: #f60;
}
.aj-cart .aj-buy-one .aj-zhifu-way{
    left: 270px;
    width:80px;
    padding: 0 10px;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-title{
    display: block;
    width: 100%;
    overflow: hidden;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-choice{
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    min-width: 10px;
    text-align: center;
    line-height: 22px;
    background: #FFF;
    -webkit-user-select:none;
    font-size: 12px;
    -moz-transition-property: border-color,background;
    -o-transition-property: border-color,background;
    -webkit-transition-property: border-color,background;
    transition-property: border-color,background;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
    padding: 2px 5px;
    border: 2px solid #F40;
    margin-top: 10px;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-edit-ways{
    position: absolute;
    top:1px;right:5px;
    font-size: 15px;
    display: none;
    cursor: pointer;
}
.aj-cart .aj-buy-one:hover .aj-zhifu-way .aj-edit-ways{
    display: block;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-all-ways{
    min-width: 250px;height: 50px;
    position: absolute;
    z-index: 999;
    top:65px;left: 13px;
    background-color: #ffffff;
    box-shadow: #555 0 0 3px;
    text-align: center;
    display: none;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-all-ways:before{
    position: absolute;
    top:-20px;left: 10px;
    content: '';
    width:0;height:0;
    border:10px solid;
    border-color: transparent;
    border-bottom-color: #ccc;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-all-ways:after{
    position: absolute;
    top:-18px;left: 10px;
    content: '';
    width:0;height:0;
    border:10px solid;
    border-color: transparent;
    border-bottom-color: white;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-all-ways .aj-zaw-wrap{
    display: inline-block;
    margin-top: 5px;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-all-ways .aj-z-a-w-one{
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 3px 6px;
    min-width: 10px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 5px;
    margin: 5px 5px 0px 0;
    border: 1px solid #DCDCDC;
    background: #FFF;
    -webkit-user-select:none;
    font-size: 12px;
    -moz-transition-property: border-color,background;
    -o-transition-property: border-color,background;
    -webkit-transition-property: border-color,background;
    transition-property: border-color,background;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
}
.aj-cart .aj-buy-one .aj-zhifu-way .aj-zhifu-all-ways .aj-z-a-w-one:hover{
    padding: 2px 5px;
    border: 2px solid #F40;
}
.aj-cart .aj-buy-one .aj-unit-price{
    width: 80px;
}
.aj-cart .aj-buy-one .aj-unit-price span{
    color: #f50;
    font-weight: 700;
}
.aj-cart .aj-buy-one .aj-num{
    width: 50px;
    text-align: center;
}
.aj-cart .aj-buy-one .aj-num input{
    width:33px;height: 20px;
    line-height: 20px;
    background-color: #ffffff;
    padding:0;
    margin:0;
    border:1px solid #ccc;
    outline: 0;
    text-align: center;
}
.aj-cart .aj-buy-one .aj-num .aj-btn{
    display: inline-block;
    background-color: #f0f0f0;
    width:33px;height:20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #e5e5e5;
    cursor:pointer;
    -webkit-user-select:none;
}
.aj-cart .aj-buy-one .aj-num .aj-btn:hover{
    color: #f50;
    border-color: #f60;
}
.aj-cart .aj-buy-one .aj-total-price{
    width: 50px;
    color: #f40;
    font-weight: 700;
}
.aj-cart .aj-buy-one .aj-action{
    width: 50px;
}
.aj-cart .aj-buy-one .aj-action .aj-a{
    display: block;
    width:50px;height: 30px;
    line-height: 30px;
    margin:0 auto;
}
.aj-cart .aj-buy-one .aj-action .aj-a:hover{
    color:#f60;
}
.aj-cart .aj-buy-one .aj-four-wrap{
    padding-left: 380px;
    height: 80px;
}
.aj-cart .aj-buy-one .aj-four-wrap .aj-quote-o{
    display: block;
    width: 25%;height:80px;
    float:left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}