<?xml version="1.0"?>
<configuration>
	<!--
  Use this section to specify custom application settings. These settings
  are used inside the code on many pages. You can modify them to suit your setup.
  -->
	<!--记录网站的全局配置信息-->
	<appSettings>
		<!--首页标题-->
		<add key="pagetitle" value="Job Site Starter Kit (Ver. 3.5)"></add>
		<!--站点Logo-->
		<add key="sitelogo" value="logo.gif"></add>
		<!--三个角色名-->
		<add key="jobseekerrolename" value="jobseeker"></add>
		<add key="employerrolename" value="employer"></add>
		<add key="adminrolename" value="admin"></add>
		<!--电子邮件地址-->
		<add key="webmasteremail" value="webmaster@somesite.com"></add>
		<add key="advertiseemail" value="sales@somesite.com"></add>
	</appSettings>
	<!--
   数据库连接字符串，可以在这里进行更改。
  -->
	<connectionStrings>
		<add name="connectionstring" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|JsskDb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		<add name="MyProviderConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|JsskDb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!--
      应用到站点的默认主题 
    -->
		<pages theme="YellowShades" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--自定义错误页面-->
		<customErrors mode="Off" defaultRedirect="customerrorpage.aspx"></customErrors>
		<!--允许匿别身份识别-->
		<anonymousIdentification enabled="true"/>
		<!--指定Forms身份验证方式-->
		<authentication mode="Forms"/>
		<!--定义成员提供者的相关参数信息-->
		<membership defaultProvider="MyProvider">
			<providers>
				<add connectionStringName="MyProviderConnectionString" applicationName="/JobSiteStarterKit" description="" requiresUniqueEmail="false" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" passwordFormat="Clear" name="MyProvider" type="System.Web.Security.SqlMembershipProvider"/>
			</providers>
		</membership>
		<!--使用自定义的角色管理器-->
		<roleManager enabled="true" defaultProvider="MyProvider" domain="jobstarterkit">
			<providers>
				<add connectionStringName="MyProviderConnectionString" applicationName="/JobSiteStarterKit" description="" name="MyProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<!--个性化提供者配置-->
		<profile defaultProvider="MyProvider">
			<providers>
				<add connectionStringName="MyProviderConnectionString" applicationName="/JobSiteStarterKit" description="" name="MyProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<properties>
				<add name="UserName" type="System.String"/>
				<add name="Email" type="System.String"/>
				<add name="FirstName" type="System.String" allowAnonymous="true"/>
				<add name="LastName" type="System.String" allowAnonymous="true"/>
				<group name="JobSeeker">
					<add name="ResumeID" type="System.Int32"/>
				</group>
				<group name="Employer">
					<add name="CompanyID" type="System.Int32"/>
				</group>
			</properties>
		</profile>
		<!--WebParts的个性化提供者配置-->
		<webParts>
			<personalization defaultProvider="JSSKWebPartProvider">
				<providers>
					<add connectionStringName="MyProviderConnectionString" name="JSSKWebPartProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web,Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				</providers>
			</personalization>
		</webParts>
	</system.web>
	<!--用于发送电子邮件的邮件设置-->
	<system.net>
		<mailSettings>
			<smtp from="webmaster@somedomain.com">
				<network defaultCredentials="true" host="localhost"/>
			</smtp>
		</mailSettings>
	</system.net>
	<!--禁止匿名用户方changepassword.aspx页面-->
	<location path="changepassword.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<!--employer文件夹的权限设置-->
	<location path="employer">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<!--jobseeker文件夹的权限设置-->
	<location path="jobseeker">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/optioninfer+">
				<providerOption name="CompilerVersion" value="v4.0"/></compiler></compilers></system.codedom>
	<!--在客户端调用ASP.NET服务的脚本扩展-->
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false"/>
				<profileService enabled="true" readAccessProperties="propertyname1,propertyname2" writeAccessProperties="propertyname1,propertyname2"/>
				<roleService enabled="true"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<!--
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0. It is not necessary for previous version of IIS.
	-->
</configuration>
