#aj-shop-index-page{
    box-sizing: border-box;
    width:100%;
    overflow-x: hidden;
    position:relative;
    margin-top:50px;
    background-color: #eee;
}
#aj-shop-index-page .aj-s-top-wrap{
    position:relative;z-index:9;
    height:200px;
}
#aj-shop-index-page .aj-s-top{
    position:relative;
    width:100%;height:165px;
    overflow:hidden;
}
#aj-shop-index-page .aj-s-top .aj-bg{
    position:absolute;
}
#aj-shop-index-page .aj-s-top .aj-logo{
    position:absolute;
    width:120px;height:60px;
    border-radius: 3px;
    background-color: white;
    overflow:hidden;
    top:30px;left:50%;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
}
#aj-shop-index-page .aj-s-top .aj-logo img{
    position:absolute;
    top:50%;left:50%;
    max-width: 90%;max-height: 90%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
#aj-shop-index-page .aj-s-top .aj-logo-desc{
    position:absolute;
    top:120px;left:0;
    text-align:center;
    width:100%;height:20px;
    line-height:20px;
    color:white;
    font-size: 16px;
    overflow:hidden;text-overflow: ellipsis;
}
#aj-shop-index-page .aj-nav{
    width:70%;height:40px;
    line-height:40px;
    margin:5px auto;
    border-radius: 4px;
    overflow: hidden;
    background-color:rgba(0,0,0,.3);
    border-top:1px solid rgba(0,0,0,.1);
    background-color: #ffffff;
}
#aj-shop-index-page .aj-nav .aj-nav-ul{}
#aj-shop-index-page .aj-nav .aj-nav-ul .aj-li{
    width:50%;height:37px;
    text-align:center;
    line-height:37px;
    color:#555;
    float:left;
    border-bottom:3px solid transparent;
}
#aj-shop-index-page .aj-nav .aj-nav-ul .aj-li.aj-select2{
    border-bottom:3px solid #fe4684;
    color:#fe4684;
}
#aj-shop-index-page .aj-nav .aj-nav-ul .aj-li.aj-select{
    background-color: #483e35;
    border-bottom: 3px solid #483e35;
    color:white;
    box-shadow:#483e35 0 0 1px;
}
#aj-shop-index-page .aj-s-mid{
    min-height:200px;
}
#aj-shop-index-page .aj-s-mid .aj-block{
    position:relative;
    background-color: #ffffff;
    min-height: 400px;
}
#aj-shop-index-page .newLoading{
    position:absolute;
    top:20px;left:50%;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    width:48px;height:48px;
    background-image:url(loading.gif);
}
/*--------------------*/
#aj-shop-index-page .aj-sort{
    position: relative;z-index: 9;
    width:100%; height: 40px;
    margin-top:5px;line-height:40px;
    border-bottom: 1px solid #dedede;
    background-color: #ffffff;
}
#aj-shop-index-page .aj-sort .aj-so-ul{}
#aj-shop-index-page .aj-sort .aj-s-u-li{
    position: relative;
    float: left;
    width: 25%;height:40px;
    line-height: 40px;text-align: center;
    color:#555;
    white-space: nowrap;
}
#aj-shop-index-page .aj-sort .aj-s-u-li .aj-s-t-wrap{
    display: block;
    width: 100%;
    height: 40px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#aj-shop-index-page .aj-sort .aj-s-u-li span[class*="qmm-icon"]{
    display: inline-block;
    width:15px;height:15px;
    transform:translate(4px, 1px);
}
#aj-shop-index-page .aj-sort .aj-s-u-li.aj-select{
    color:#fe4684;
}
#aj-shop-index-page .aj-sort .aj-s-u-li.aj-hover{
    background-color: #F3F3F3;
}
#aj-shop-index-page .aj-sort .aj-s-u-li.aj-hover .aj-li-s-t-inside-ul{
    display: block!important;
}
#aj-shop-index-page .aj-sort .aj-s-u-li .aj-li-s-t-inside-ul{
    position: absolute;
    top:100%;left: 0;
    width:100%;
    background-color: #f3f3f3;
    display: none;
}
#aj-shop-index-page .aj-sort .aj-s-u-li .aj-li-s-t-inside-ul .aj-l-s-t-i-u-li{
    width: 100%;height: 35px;
    line-height: 35px;text-align: center;
    color:#555;
    border-bottom:1px dashed #ccc;
    overflow: hidden;
}
/*--------------------*/