@charset "utf-8";

.crumbs-bar {
    position: relative;
    margin-bottom: 10px;
    z-index: 5;
}
.crumbs-nav {
    height: 24px;
    line-height: 24px;
}
.crumbs-nav-item {
    float: left;
    margin-right: 8px;
}

.crumbs-link, .crumbs-nav-item .menu-drop, .crumbs-nav-item .selector-set {
    float: left;
    margin-right: 5px;
}

.crumbs-arrow {
    font-family: simsun;
    font-style: normal;
}

.one-level .crumbs-link {
    font-size: 18px;
    font-weight: 700;
    font-family: "microsoft yahei";
    color: #666;
}

.menu-drop {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24px;
    cursor: pointer
}

.menu-drop .trigger {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    padding: 0 4px 0 8px;
    border: 1px solid #ddd;
    line-height: 22px;
    vertical-align: top
}

.menu-drop .trigger .curr {
    display: inline-block;
    vertical-align: top
}

.menu-drop .menu-drop-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url(http://misc.360buyimg.com/product/list/1.0.2/css/i/search.ele.png) no-repeat 4px 7px;
    -webkit-transition: background-position .15s ease-in-out;
    -moz-transition: background-position .15s ease-in-out;
    transition: background-position .15s ease-in-out
}

.menu-drop:hover {
    text-decoration: none
}

.menu-drop:hover .trigger {
    border-color: #e4393c
}

.menu-drop:hover .menu-drop-arrow {
    background-position: 4px -11px
}

.menu-drop-main {
    display: none;
    width: 350px;
    padding: 10px 0 10px 8px;
    position: absolute;
    left: 0;
    top: 23px;
    border: 1px solid #ddd;
    background-color: #fff
}

.menu-drop-list li {
    float: left;
    width: 65px;
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.menu-drop-list li.curr a {
    color: #e4393c;
    text-decoration: underline
}

.z-menu-drop-open {
    position: relative;
    z-index: 5
}

.z-menu-drop-open .trigger {
    border-bottom-color: #fff;
    position: relative;
    z-index: 6
}

.z-menu-drop-open .menu-drop-arrow {
    background-position: 4px -27px
}

.z-menu-drop-open .menu-drop-main {
    display: block
}

.z-menu-drop-open:hover .trigger {
    border-bottom-color: #fff
}

.z-menu-drop-open:hover .menu-drop-main {
    border-color: #e4393c
}

.z-menu-drop-open:hover .menu-drop-arrow {
    background-position: 4px -44px
}

/*sortlist*/
.rightcategorylist {
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #999 #ddd #ddd;
}

.rightcategorylist .mt {
    height: 31px;
    background: #f7f7f7;
}

.rightcategorylist .mt h2 {
    padding-left: 30px;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/20130418A.png) no-repeat 10px 5px;
    font: normal 15px/31px \5fae\8f6f\96c5\9ed1;
    color: #333
}

.rightcategorylist .mc {
    padding: 6px 0 0
}

.rightcategorylist h3 {
    height: 30px;
    padding-left: 10px;
    border-top: 1px solid #ddd;
    background: #f7f7f7;
    font: normal 14px/30px \5fae\8f6f\96c5\9ed1;
    color: #333
}

.rightcategorylist h3 span {
    display: none;
}

.rightcategorylist h3 a:link,.rightcategorylist h3 a:visited {
    display: block;
    font-weight: normal;
    color: #333
}

.rightcategorylist ul {
    padding: 6px 0 6px 6px;
    overflow: hidden;
    zoom: 1
}

.rightcategorylist li {
    float: left;
    width: 95px;
    height: 18px;
    padding: 3px 0 3px 4px;
    overflow: hidden
}

.rightcategorylist li.current a {
    color: Red;
}
/*brand*/
.rightbrandlist {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.rightbrandlist .mt {
    height: 30px;
    background: #f7f7f7;
}

.rightbrandlist .mt h2 {
    height: 30px;
    padding-left: 10px;
    font: normal 15px/31px \5fae\8f6f\96c5\9ed1;
    color: #333
}

.rightbrandlist .mc {
}

.rightbrandlist .mc li {
    float: left;
    width: 33%;
    height: 35px;
    padding: 6px 0 0;
    zoom: 1;
    text-align: center;
}

.rightbrandlist .mc img {
    border: 1px solid #aaa;
}

.w {
    margin: 0 auto;
    width: 990px;
}

.tab {
    overflow: hidden;
}

.tab li, .tab a, .tab-item {
    float: left;
    text-align: center;
}

/*tab-link*/
#tab-link {
    height: 30px;
    padding: 0 20px;
    margin: 20px 0;
    border-bottom: 2px solid #c00;
    overflow: visible;
}

#tab-link li {
    height: 30px;
    padding-right: 16px;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort.jpg) #E4E4E4 no-repeat right -313px;
    margin-right: 5px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
}

#tab-link li a {
    height: 30px;
    padding-left: 16px;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort.jpg) no-repeat 0 -282px;
    line-height: 30px;
}

#tab-link li.curr {
    background-position: right -251px;
}

#tab-link li.curr a {
    background-position: 0 -220px;
    color: #fff;
}
/*tab-sort*/
#tab-sort .i-w {
    margin-bottom: 10px;
}

#tab-sort .text {
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight: bold;
    margin: 16px 0 8px;
}

#tab-sort ul {
    width: 962px;
    padding: 0 0 16px 28px;
    overflow: hidden;
    zoom: 1;
}

#tab-sort li {
    width: 160px;
    margin: 10px 16px 0 0;
    height: 32px;
    line-height: 16px;
    padding: 6px 10px;
    border: 1px solid #D1D1D1;
    text-align: center;
    background: #F5F5F5;
    background: -webkit-gradient(linear,0 0,0 100%, from(#ffffff), to(#F5F5F5));
    background: -moz-linear-gradient(top,#ffffff 15%,#F5F5F5 50%,#F0F0F0);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}

#tab-sort li a {
    float: none;
    font-size: 14px;
    color: #005aa0;
}

#tab-sort li.l1 {
    line-height: 32px;
    overflow: hidden;
}
/*allsort*/
#allsort {
    position: relative;
    margin-bottom: 10px;
}

#allsort .corner {
    position: absolute;
    z-index: 1;
    width: 980px;
    background-image: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort_3.jpg);
    background-repeat: repeat-x;
    overflow: hidden;
}

#allsort .corner b {
    display: block;
    width: 36px;
    background-image: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort_1.jpg);
    background-repeat: no-repeat;
}

#allsort .corner-t {
    height: 16px;
    top: 0;
    background-position: 0 -17px;
}

#allsort .corner-b {
    height: 96px;
    bottom: 0;
    background-position: 0 80px;
}

#allsort .tl {
    float: left;
    height: 16px;
    background-position: -74px -76px;
}

#allsort .tr {
    float: right;
    height: 16px;
    background-position: -111px -76px;
}

#allsort .bl {
    float: left;
    height: 96px;
    background-position: 0 0;
}

#allsort .br {
    float: right;
    height: 96px;
    background-position: -37px 0;
}

#allsort .content {
    padding-left: 40px;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort_2.jpg) -37px 0 repeat-y;
}

#i-allsort {
    padding: 10px 40px 20px 0;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort_2.jpg) 904px 0 repeat-y;
    zoom: 1;
}

#i-allsort .fl, #i-allsort .fr {
    position: relative;
    z-index: 3;
}

#allsort .m {
    width: 485px;
    border: 1px solid #E9E9E9;
}

#allsort .mt {
    height: 28px;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort.jpg) repeat-x 0 -162px;
    border-bottom: 1px solid #E9E9E9;
    line-height: 28px;
}

#allsort .mt h2 {
    height: 28px;
    padding: 0 5px 0 20px;
    background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_allsort.jpg) no-repeat 0 -191px;
}

#allsort .mc {
    padding: 0 5px;
}

#allsort .mc .fore {
    border-top: none;
}

#allsort .current {
    background: #FFF6F0;
}

#allsort dl {
    width: 465px;
    padding: 5px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
    line-height: 24px;
}

#allsort dt {
    float: left;
    width: 55px;
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
    color: #CC0000;
}

#allsort dt a {
    color: #CC0000;
}

#allsort dd {
    float: left;
    width: 395px;
}

#allsort dd em {
    float: left;
}

#allsort dd a {
    white-space: nowrap;
    margin-right: 16px;
}

.newLoading {
    background: url("http://www.quanmama.com/AdminImageUpload/20148150838532.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 48px;
    left: 50%;
    position: absolute;
    top: 176px;
    width: 48px;
}
