.aj-gds-roll-x{
	width:100%;height:100%;
	border:1px solid #e8e8e8;
}
.aj-gds-roll-x .aj-clear{
	clear:both;
}
.aj-gds-roll-x .aj-top{
	width:100%;height:30px;
	border-bottom:solid 1px #d1d1d1
}
.aj-gds-roll-x .aj-top .aj-nav{
	height:30px;float:left;
}
.aj-gds-roll-x .aj-top .aj-nav .aj-nav-one{
	position:relative;
	top:-1px;
	padding:0 15px;
	height:28px;
	line-height:28px;
	float:left;
	border-right:1px solid #d1d1d1;
	border-top:3px solid transparent;
	cursor:pointer;
}
.aj-gds-roll-x .aj-top .aj-nav .aj-select{
	border-top:3px solid #df2169!important;
	border-bottom:1px solid white;
}
.aj-gds-roll-x .aj-top .aj-roll-zhishi{
	height:30px;float:right;
}
.aj-gds-roll-x .aj-top .aj-roll-zhishi .aj-small-balls{
	height:30px;line-height:30px;
	margin-right:10px;
}
.aj-gds-roll-x .aj-top .aj-roll-zhishi .aj-small-balls a{
	margin-left:10px;
}
.aj-gds-roll-x .aj-top .aj-roll-zhishi .aj-small-balls .aj-ball{
	display:inline-block;
	float:left;
	width:6px;height:6px;
	border-radius:50%;
	overflow:hidden;
	background-color:#ccc;
	margin:13px 3px 0;
	cursor:pointer;
}
.aj-gds-roll-x .aj-top .aj-roll-zhishi .aj-small-balls .aj-select{
	background-color:red!important;
}
.aj-gds-roll-x .aj-mid{
	position:relative;
	width:100%;height:218px;
}
.aj-gds-roll-x .aj-mid .aj-roll-block{
	position:absolute;
	top:0;left:0;
	width:100%;height:218px;
	background-color:white;
	display:none;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-roll-x-hk{
	position:absolute;z-index:9;
	top:50%;
	width:32px;height:32px;
	border-radius:50%;
	background-color:black;
	color:white;
	margin-top:-16px;
	font-size:14px;
	text-align:center;line-height:32px;
	font-family:'SimSun';font-weight:bold;
	cursor:pointer;
	opacity:0.4;filter:alpha(opacity=40);
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-roll-x-hk:hover{
	opacity:0.6;filter:alpha(opacity=60);
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-roll-x-hk[aj-index=left]{
	left:10px;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-roll-x-hk[aj-index=right]{
	right:10px;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap{
	position:relative;
	width:700px;height:207px;
	margin:17px auto 0;
	overflow:hidden;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-all-imgs-move{
	position:absolute;
	top:0;left:0;
	width:1400px;height:207px;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-img-one{
	width:175px;height:100%;
	display:inline-block;
	float:left;
	overflow:hidden;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-img-one:hover{
	text-decoration:underline;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-img-one .aj-img{
	width:130px;height:130px;
	margin:0 auto;
	display:block;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-img-one p{
	padding:0 15px;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-img-one .aj-price{
	height:22px;line-height:22px;
	color:#d42f2f;
	overflow:hidden;
}
.aj-gds-roll-x .aj-mid .aj-roll-block .aj-imgs-wrap .aj-img-one .aj-name{
	height:32px;
	line-height:16px;
	overflow:hidden;
}
/*------------------*/

.aj-box-rank{
	position:relative;
	width:100%;height:100%;
	border-top:solid 1px #d1d1d1;
	color:#333;
}
.aj-box-rank .aj-top{
	border-left:solid 1px #d1d1d1;
	border-right:solid 1px #d1d1d1;
}
.aj-box-rank .aj-top .aj-header{
	background-color:#f4f4f4;
	height:34px;
	line-height:34px;
	border-bottom:1px solid #d1d1d1;
}
.aj-box-rank .aj-top .aj-header .aj-bg{
	display:inline-block;
	background-image:url(home_icon.png);
	background-repeat:no-repeat;
	background-position:-283px -283px;
	width:17px;height:17px;
	vertical-align:middle;
	margin-left:3px;
}
.aj-box-rank .aj-top .aj-header .aj-title{
	margin-left:3px;
}
.aj-box-rank .aj-top .aj-header .aj-all{
	float:right;
	color:#333;
	margin-right:5px;
}
.aj-box-rank .aj-top .aj-nav{
	width:285px;height:23px;
	margin:5px auto 0;
}
.aj-box-rank .aj-top .aj-nav .aj-nav-one{
	width:90px;height:22px;
	background-color:#efefef;
	float:left;
	margin-right:5px;
	text-align:center;
	line-height:22px;
	cursor:pointer;
}
.aj-box-rank .aj-top .aj-nav .aj-select{
	background-color:#6f6f6f!important;
	color:white!important;
}
.aj-box-rank .aj-mid{
	min-height:500px;/*默认最大height为500px*/
}
.aj-box-rank .aj-mid-inside{
    border: solid 1px #d1d1d1;
    border-top: none;
    padding: 5px;
}
.aj-box-rank .aj-mid .aj-imgs-wrap{
	display:none;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one{
	position:relative;
	width:100%;min-height:80px;
	padding: 10px 0 9px;
	border-bottom:1px dashed #ccc;
	overflow:hidden;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one:last-child{
	border-bottom-color:transparent;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-index{
	position:absolute;
	top:40%;left:0;
	display:block;
	width:20px;
	font-size:16px;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one:nth-child(1) .aj-index,.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one:nth-child(2) .aj-index,.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one:nth-child(3) .aj-index{
	color:#d42f2f;
	font-style:italic;
	font-size:16px;
	font-weight:bold;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-img{
	position:absolute;
	top:9px;left:20px;
	width:72px;height:72px;
	box-shadow:#444 0 0 2px;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content{
	padding-left:100px;
	overflow:hidden;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content a:hover{
	text-decoration:underline;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content .aj-discount{
	color:#D42F2F;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content .aj-desc{
	line-height:20px;
	height:40px;overflow:hidden;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content .aj-love{
	font-family:'icomoon';
	font-size:12px;
	color:#b6b6b6;
	margin-right:20px;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content .aj-love:hover{
	color:#D42F2F;
	text-decoration:none;
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content .aj-love:before{
	content:"\e650";
}
.aj-box-rank .aj-mid .aj-imgs-wrap .aj-one .aj-content .aj-brand{
	line-height:20px;color:#b6b6b6;
}
.aj-tran{
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
}

