.aj-more-margin .aj-quan-new-230 {
  margin: 5px 10px;
}
.aj-quan-new-230 {
  width: 228px;
  height: auto;
  float: left;
  background-color: white;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 5px;
}
.aj-quan-new-230:hover {
  box-shadow: 0 2px 10px #dcdcdc;
  background-color: #fff;
}
.aj-quan-new-230 .aj-top {
  height: 50px;
  text-align: center;
  border-bottom: 1px dashed #eee;
}
.aj-quan-new-230 .aj-top .aj-img {
  max-height: 100%;
  max-width: 100%;
}
.aj-quan-new-230 .aj-mid {
  position: relative;
  text-align: center;
  height: 230px;
}
.aj-quan-new-230 .aj-mid .aj-img-wrap {
  display: block;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 0px;
}
.aj-quan-new-230 .aj-mid .aj-img-wrap:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.aj-quan-new-230 .aj-mid .aj-img-wrap .aj-img {
  max-width: 150px;
  max-height: 150px;
  font-size: 0;
  vertical-align: middle;
}
.aj-quan-new-230 .aj-mid .mid-bot {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: white;
  opacity: 0.5;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.aj-quan-new-230 .aj-mid .aj-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.aj-quan-new-230 .aj-mid .aj-desc em {
  position: relative;
  top: 2px;
  margin: 0 5px;
  font-size: 26px;
  font-weight: bold;
  font-family: Arial;
  color: #ff4444;
}
.aj-quan-new-230 .aj-mid .aj-desc span {
  color: #5188a6;
  font-size: 12px;
}
.aj-quan-new-230 .aj-bot .aj-line {
  height: 40px;
  text-align: center;
}
.aj-quan-new-230 .aj-bot .aj-btn {
  width: 100px;
  height: 30px;
  position: relative;
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  background-color: #f04848;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
.aj-quan-new-230 .aj-bot .aj-btn:hover {
  filter: alpha(opacity=90);
  opacity: .9;
  text-decoration: none;
}
.aj-quan-new-320 {
  position: relative;
  width: 338px;
  height: auto;
  float: left;
  background-color: white;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 5px;
  font-family: "Helvetica", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
.aj-quan-new-320 a {
  color: #333;
}
.aj-quan-new-320:hover {
  box-shadow: 0 2px 10px #dcdcdc;
  background-color: #fff;
}
.aj-quan-new-320 .aj-mid {
  position: relative;
  text-align: center;
  width: 200px;
  height: 170px;
  padding-right: 140px;
}
.aj-quan-new-320 .aj-mid .aj-img-wrap {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 0px;
}
.aj-quan-new-320 .aj-mid .aj-img-wrap:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.aj-quan-new-320 .aj-mid .aj-img-wrap .aj-img {
  max-width: 100px;
  max-height: 100px;
  font-size: 0;
  vertical-align: middle;
}
.aj-quan-new-320 .aj-mid .mid-bot {
  width: 100%;
  height: 25px;
  text-align: center;
  background-color: white;
  opacity: 0.5;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.aj-quan-new-320 .aj-mid .aj-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
}
.aj-quan-new-320 .aj-mid .aj-desc em {
  position: relative;
  top: 2px;
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: #ff4444;
}
.aj-quan-new-320 .aj-mid .aj-desc span {
  color: #5188a6;
  font-size: 12px;
}
.aj-quan-new-320 .aj-right {
  position: absolute;
  right: 0;
  top: 30px;
  width: 140px;
}
.aj-quan-new-320 .aj-right .aj-top {
  height: 50px;
  text-align: center;
  border-bottom: 1px dashed #eee;
}
.aj-quan-new-320 .aj-right .aj-top .aj-img {
  max-height: 100%;
  max-width: 100%;
}
.aj-quan-new-320 .aj-right .aj-bot .aj-line {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.aj-quan-new-320 .aj-right .aj-bot .aj-small-line {
  height: 20px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.aj-quan-new-320 .aj-right .aj-bot .aj-btn {
  width: 60px;
  height: 30px;
  position: relative;
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  background-color: #f04848;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
.aj-quan-new-320 .aj-right .aj-bot .aj-btn:hover {
  filter: alpha(opacity=90);
  opacity: .9;
  text-decoration: none;
}
