.aj-u-c-wrap .nav .ul {
  height: 28px;
  width: 100%;
  color: #666;
  position: relative;
  font-size: 12px;
  margin-bottom: 4px;
}
.aj-u-c-wrap .nav .ul .li {
  display: inline-block;
  float: left;
  cursor: pointer;
  padding-right: 30px;
}
