<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--允许所有的用户访问该文件夹-->
    <system.web>     
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  <!--禁止用户对CreateUserWizardDemo.aspx和PassWordRecovery.aspx的访问-->
    <location path="CreateUserWizardDemo.aspx">
      <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>
    <location path="PasswordRecovery.aspx">
      <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>
</configuration>